<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>

<a href="home">A link home</a>
<a href="help">A link help</a>
<a href="about">A link about</a>