<% provide(:title, "Help") %>

<h1>Even more HTML</h1>
  <p>This is super cool!</p>
<h3>A small subheading</h3>
  <p>With some text!</p>
  <a href="home">A link home</a>
  <a href="about">A link about</a>
  <p><b>I wonder how we edit the css file!</b></p>



