<h1>This is html!</h1>
  <p>I bet you didn't expect html here!</p>
<h2>Subheading!</h2>
  <a href="help">link!</a>
  <p>Sample text!</p>
  <a href="help">A link help</a>
  <a href="about">A link about</a>
  <a href="contact">A link contact</a>
